extends ../layout

block content
    h3 Authors
    a(href='/author/add') Add New Author
    table
        thead
            tr
                th First
                th Last
                th DOB
                th
        tbody
            each author in authors
                tr
                    td= author.firstname
                    td= author.lastname
                    td= author.dob
                    td
                        a(href=`/authors/profile/${author.id}`) View Author